body {
    width: 100%; 
    margin: 30px auto;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    border: 5px solid black;
    height: 850px;
}

/* Encabezado */
header {
    height: 100px;
    background-color: rgb(65, 96, 97);
    color: white;
}

header h1 {
    text-align: center;
    margin: 0;
}

header nav {
    width: 100%;
    background-color: cadetblue;
    height: 40px;
    line-height: 40px; 
    text-align: center; 
    margin-top: 22px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block; 
    width: 8.33%;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    background-color: #4e73df;
    border-radius: 5px;
}

/* Aside */
aside {
    width: 25%;
    height: 700px;
    float: left;
    background-color: #fff;
    border-right: 2px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

aside img {
    width: 16.66%;
    height: 80px;
    margin-left: 30px;
}

aside h3 {
    border-bottom: 2px solid #4e73df;
    padding-bottom: 5px;
}

span {
    font-weight: bold;
}

aside div p {
    line-height: 20px;
}

#tituloMenuLateral {
    position: absolute;
    top: 550px;
    left: 30px;
}

aside ul {
    list-style: none;
    padding: 0;
    position: absolute;
    top: 600px;
    left: 30px;
}

aside ul li a {
    color: #4e73df;
    text-decoration: none;
}

aside ul li a:hover {
    text-decoration: underline;
}

aside #info {
    margin-top: 20px;
    background-color: #f0f4ff;
    padding: 10px;
    border-radius: 8px;
}

/* Contenido principal */
main {
    float: left;
    margin: 80px 0 0 8.33%;
    width: 58.33%;
}

main h2 {
    color: rgb(74, 121, 122);
    margin-bottom: 20px;
    text-align: center;
}

/* Formulario */
form {
    background-color: white;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    width: 41.66%;
    margin: auto;
}

.campo {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"], select {
    width: 90%;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: content-box;
}

.boton {
    text-align: center;
}

input[type="submit"] {
    background-color: #4e73df;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2e59d9;
}

footer {
    height: 50px;
    width: 100%;
    background-color: rgb(67, 67, 67);
    clear: both;
    color: white;
    text-align: center;
    line-height: 50px;
}
